@tailwind base;
@tailwind components;
@tailwind utilities;

/* examples/custom-styling.css */
.customOverlay {
    background: rgba(36, 123, 160, 0.7);
  }

.customModal {
    background: #b2dbbf;
    max-width: 500px;
    width: 100%;
}
.tw-hv {
    @apply hover:duration-200
}

.tw-jb {
    @apply flex justify-between items-center
}

.tw-fc {
    @apply flex flex-col
}

.tw-ic {
    @apply flex items-center
}

.tw-cc {
    @apply flex justify-center items-center
}

.tw-jc {
    @apply flex justify-center items-center
}

.tw-r-fc {
    @apply max-md:flex max-md:flex-col
}